// Bootstrap
@import '~bootstrap/scss/bootstrap';

nav.navbar {
  margin-bottom: 20px;
}

body {
  font-size: 14px;
  font-weight: normal;
}

.home {
  border-radius: 0.3rem;
  background-color: rgba(grey,0.15);
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}
.ziti {
  font-size: 1.25rem;
  font-weight: 300;
}

footer {
  margin-top: 45px;
  border-top: solid 1px rgba(grey,0.15);
  padding-top: 5px;
  font-size: 13px;
  font-weight: bold;;

  img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
  }

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

}

section.section_info {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;

  .gravatar {
    border-radius: 50%;
    max-width: 75px;
  }

  div{
    font-size: 1.4em;
    margin-top: 10px;
    letter-spacing: -1px;
  }
}

.errorInfo {
  font-weight: bold;
  color: rgb(209, 50, 50);
  background-color: rgba(211, 134, 134,0.3);
}

.tip{
  border: 1px solid transparent;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  font-weight: 600;
}

.tip-success {
  color: #0a8827;
  background-color: #b5e4c0;
}

.tip-danger {
  color: #b74a96;
  background-color: #e8bccf;
}
